USE [katachidb]
GO
/****** 物件:  Table [dbo].[Categories]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[day_template_exercises]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[day_template_exercises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[day_template_id] [int] NOT NULL,
	[ex_key] [varchar](20) NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[day_templates]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[day_templates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total_days] [int] NOT NULL,
	[day_number] [int] NOT NULL,
	[day_name] [nvarchar](50) NOT NULL,
	[target_groups] [nvarchar](255) NOT NULL,
	[exercise_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[equipment]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[exercise_equipment]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_equipment](
	[ex_key] [varchar](20) NOT NULL,
	[equipment_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ex_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[exercise_goals]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_goals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ex_key] [varchar](20) NOT NULL,
	[goal] [nvarchar](20) NOT NULL,
	[sets] [int] NOT NULL,
	[reps] [nvarchar](20) NOT NULL,
	[rest_seconds] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[exercise_group_pct]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_group_pct](
	[ex_key] [varchar](20) NOT NULL,
	[group_key] [nvarchar](10) NOT NULL,
	[pct] [tinyint] NOT NULL,
 CONSTRAINT [pk_egp] PRIMARY KEY CLUSTERED 
(
	[ex_key] ASC,
	[group_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[exercises]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercises](
	[ex_key] [varchar](20) NOT NULL,
	[name_zh] [nvarchar](100) NOT NULL,
 CONSTRAINT [pk_exercises] PRIMARY KEY CLUSTERED 
(
	[ex_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[foods]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[name_en] [nvarchar](100) NULL,
	[calories] [decimal](7, 2) NOT NULL,
	[protein] [decimal](7, 2) NOT NULL,
	[carbs] [decimal](7, 2) NOT NULL,
	[fat] [decimal](7, 2) NOT NULL,
	[unit] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[muscle_groups]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muscle_groups](
	[group_key] [nvarchar](10) NOT NULL,
 CONSTRAINT [pk_muscle_groups] PRIMARY KEY CLUSTERED 
(
	[group_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[muscles]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muscles](
	[muscle_key] [varchar](30) NOT NULL,
	[group_key] [nvarchar](10) NOT NULL,
 CONSTRAINT [pk_muscles] PRIMARY KEY CLUSTERED 
(
	[muscle_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[nutrition_records]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nutrition_records](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[food_id] [int] NOT NULL,
	[grams] [decimal](7, 2) NOT NULL,
	[record_date] [date] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[OrderItems]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductCode] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[OptionText] [nvarchar](300) NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[Orders]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[RecipientName] [nvarchar](100) NOT NULL,
	[RecipientPhone] [nvarchar](50) NOT NULL,
	[RecipientEmail] [nvarchar](100) NOT NULL,
	[RecipientAddress] [nvarchar](300) NOT NULL,
	[Subtotal] [int] NOT NULL,
	[Shipping] [int] NOT NULL,
	[MemberDiscount] [int] NOT NULL,
	[CouponDiscount] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[ProductOptions]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[ProductOptionValues]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOptionValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductOptionId] [int] NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
	[Price] [int] NULL,
	[OriginalPrice] [int] NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[Products]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Subtitle] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[OriginalPrice] [int] NULL,
	[Rating] [decimal](2, 1) NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[training_items]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[ex_key] [varchar](20) NOT NULL,
	[weight_kg] [decimal](5, 1) NOT NULL,
	[sets] [tinyint] NOT NULL,
	[reps] [tinyint] NOT NULL,
	[sort_order] [tinyint] NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [pk_items] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[training_sessions]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[session_date] [date] NOT NULL,
 CONSTRAINT [pk_sessions] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[training_sets]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_sets](
	[set_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[set_index] [tinyint] NOT NULL,
	[is_done] [bit] NOT NULL,
 CONSTRAINT [pk_sets] PRIMARY KEY CLUSTERED 
(
	[set_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[user_goals]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_goals](
	[goal_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_key] [nvarchar](10) NOT NULL,
	[month] [char](7) NOT NULL,
	[monthly_target] [tinyint] NOT NULL,
 CONSTRAINT [pk_user_goals] PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[users]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[age] [tinyint] NULL,
	[height_cm] [decimal](5, 1) NULL,
	[weight_kg] [decimal](5, 1) NULL,
	[gender] [nvarchar](10) NULL,
	[activity] [nvarchar](20) NULL,
	[created_at] [datetime] NOT NULL,
	[profile_updated_at] [datetime] NULL,
	[tdee] [int] NULL,
	[PasswordResetToken] [nvarchar](100) NULL,
	[PasswordResetExpiry] [datetime] NULL,
 CONSTRAINT [pk_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (1, N'protein', N'高蛋白')
INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (2, N'performance', N'訓練補給')
INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (3, N'wellness', N'日常營養')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[day_template_exercises] ON 

INSERT [dbo].[day_template_exercises] ([id], [day_template_id], [ex_key], [sort_order], [created_at]) VALUES (1, 1, N'bench-bar', 1, CAST(N'2026-05-11T08:55:42.397' AS DateTime))
INSERT [dbo].[day_template_exercises] ([id], [day_template_id], [ex_key], [sort_order], [created_at]) VALUES (2, 1, N'bench-db', 2, CAST(N'2026-05-11T08:55:42.397' AS DateTime))
INSERT [dbo].[day_template_exercises] ([id], [day_template_id], [ex_key], [sort_order], [created_at]) VALUES (3, 1, N'row-bar', 3, CAST(N'2026-05-11T08:55:42.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[day_template_exercises] OFF
GO
SET IDENTITY_INSERT [dbo].[day_templates] ON 

INSERT [dbo].[day_templates] ([id], [total_days], [day_number], [day_name], [target_groups], [exercise_count]) VALUES (1, 2, 1, N'全身A', N'胸,背,肩', 6)
INSERT [dbo].[day_templates] ([id], [total_days], [day_number], [day_name], [target_groups], [exercise_count]) VALUES (2, 2, 2, N'全身B', N'腿,核心,臂', 6)
INSERT [dbo].[day_templates] ([id], [total_days], [day_number], [day_name], [target_groups], [exercise_count]) VALUES (3, 3, 1, N'推', N'胸,肩,臂', 4)
SET IDENTITY_INSERT [dbo].[day_templates] OFF
GO
SET IDENTITY_INSERT [dbo].[equipment] ON 

INSERT [dbo].[equipment] ([id], [name]) VALUES (3, N'徒手')
INSERT [dbo].[equipment] ([id], [name]) VALUES (2, N'啞鈴')
INSERT [dbo].[equipment] ([id], [name]) VALUES (1, N'槓鈴')
SET IDENTITY_INSERT [dbo].[equipment] OFF
GO
INSERT [dbo].[exercise_equipment] ([ex_key], [equipment_id]) VALUES (N'abduction', 4)
INSERT [dbo].[exercise_equipment] ([ex_key], [equipment_id]) VALUES (N'bench-bar', 1)
INSERT [dbo].[exercise_equipment] ([ex_key], [equipment_id]) VALUES (N'bench-db', 2)
GO
SET IDENTITY_INSERT [dbo].[exercise_goals] ON 

INSERT [dbo].[exercise_goals] ([id], [ex_key], [goal], [sets], [reps], [rest_seconds]) VALUES (1, N'bench-bar', N'hypertrophy', 4, N'8-12', N'60-90')
INSERT [dbo].[exercise_goals] ([id], [ex_key], [goal], [sets], [reps], [rest_seconds]) VALUES (2, N'bench-bar', N'strength', 5, N'3-5', N'180-240')
INSERT [dbo].[exercise_goals] ([id], [ex_key], [goal], [sets], [reps], [rest_seconds]) VALUES (3, N'bench-bar', N'fatloss', 3, N'15-20', N'30-45')
SET IDENTITY_INSERT [dbo].[exercise_goals] OFF
GO
INSERT [dbo].[exercise_group_pct] ([ex_key], [group_key], [pct]) VALUES (N'abduction', N'核心', 5)
INSERT [dbo].[exercise_group_pct] ([ex_key], [group_key], [pct]) VALUES (N'abduction', N'腿', 10)
INSERT [dbo].[exercise_group_pct] ([ex_key], [group_key], [pct]) VALUES (N'abduction', N'臀', 85)
GO
INSERT [dbo].[exercises] ([ex_key], [name_zh]) VALUES (N'abduction', N'臀外展機')
INSERT [dbo].[exercises] ([ex_key], [name_zh]) VALUES (N'bench-bar', N'槓鈴臥推')
INSERT [dbo].[exercises] ([ex_key], [name_zh]) VALUES (N'bench-db', N'啞鈴臥推')
GO
SET IDENTITY_INSERT [dbo].[foods] ON 

INSERT [dbo].[foods] ([id], [name], [name_en], [calories], [protein], [carbs], [fat], [unit], [created_at]) VALUES (1, N'雞胸肉', N'Chicken Breast', CAST(165.00 AS Decimal(7, 2)), CAST(31.00 AS Decimal(7, 2)), CAST(0.00 AS Decimal(7, 2)), CAST(3.60 AS Decimal(7, 2)), N'100g', CAST(N'2026-05-11T08:55:42.397' AS DateTime))
INSERT [dbo].[foods] ([id], [name], [name_en], [calories], [protein], [carbs], [fat], [unit], [created_at]) VALUES (2, N'白飯', N'White Rice', CAST(130.00 AS Decimal(7, 2)), CAST(2.70 AS Decimal(7, 2)), CAST(28.00 AS Decimal(7, 2)), CAST(0.30 AS Decimal(7, 2)), N'100g', CAST(N'2026-05-11T08:55:42.397' AS DateTime))
INSERT [dbo].[foods] ([id], [name], [name_en], [calories], [protein], [carbs], [fat], [unit], [created_at]) VALUES (3, N'水煮蛋', N'Boiled Egg', CAST(155.00 AS Decimal(7, 2)), CAST(13.00 AS Decimal(7, 2)), CAST(1.10 AS Decimal(7, 2)), CAST(11.00 AS Decimal(7, 2)), N'100g', CAST(N'2026-05-11T08:55:42.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[foods] OFF
GO
INSERT [dbo].[muscle_groups] ([group_key]) VALUES (N'手臂')
INSERT [dbo].[muscle_groups] ([group_key]) VALUES (N'肩')
INSERT [dbo].[muscle_groups] ([group_key]) VALUES (N'背')
GO
INSERT [dbo].[muscles] ([muscle_key], [group_key]) VALUES (N'abs', N'核心')
INSERT [dbo].[muscles] ([muscle_key], [group_key]) VALUES (N'backForearm', N'手臂')
INSERT [dbo].[muscles] ([muscle_key], [group_key]) VALUES (N'backTrapezius', N'背')
GO
SET IDENTITY_INSERT [dbo].[nutrition_records] ON 

INSERT [dbo].[nutrition_records] ([record_id], [user_id], [food_id], [grams], [record_date], [created_at]) VALUES (35, 1, 1, CAST(100.00 AS Decimal(7, 2)), CAST(N'2026-05-13' AS Date), CAST(N'2026-05-13T13:40:06.560' AS DateTime))
INSERT [dbo].[nutrition_records] ([record_id], [user_id], [food_id], [grams], [record_date], [created_at]) VALUES (36, 1, 1, CAST(100.00 AS Decimal(7, 2)), CAST(N'2026-05-13' AS Date), CAST(N'2026-05-13T13:40:06.563' AS DateTime))
INSERT [dbo].[nutrition_records] ([record_id], [user_id], [food_id], [grams], [record_date], [created_at]) VALUES (37, 1, 1, CAST(100.00 AS Decimal(7, 2)), CAST(N'2026-05-13' AS Date), CAST(N'2026-05-13T13:40:06.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[nutrition_records] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductCode], [ProductName], [OptionText], [UnitPrice], [Quantity], [Subtotal], [ImageUrl]) VALUES (20, 1, N'whey-isolate', N'分離乳清蛋白', N'口味：原味 / 規格：2LB', 1680, 3, 5040, N'/katachi-shop/img/Protein/protein.jpg')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductCode], [ProductName], [OptionText], [UnitPrice], [Quantity], [Subtotal], [ImageUrl]) VALUES (21, 1, N'whey-isolate', N'分離乳清蛋白', N'高蛋白', 1680, 1, 1680, N'/katachi-shop/img/Protein/protein.jpg')
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderNumber], [RecipientName], [RecipientPhone], [RecipientEmail], [RecipientAddress], [Subtotal], [Shipping], [MemberDiscount], [CouponDiscount], [Total], [CreatedAt], [Status], [user_id]) VALUES (1, N'K20260515140536', N'李 宏澤', N'adad', N'example@gmail.com', N'番金路24號　高雄市　46545', 6720, 0, 300, 0, 6420, CAST(N'2026-05-15T14:05:36.7120017' AS DateTime2), N'待處理', 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOptions] ON 

INSERT [dbo].[ProductOptions] ([Id], [ProductId], [Name], [SortOrder]) VALUES (1, 1, N'口味', 1)
INSERT [dbo].[ProductOptions] ([Id], [ProductId], [Name], [SortOrder]) VALUES (2, 1, N'規格', 2)
INSERT [dbo].[ProductOptions] ([Id], [ProductId], [Name], [SortOrder]) VALUES (3, 2, N'口味', 1)
SET IDENTITY_INSERT [dbo].[ProductOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOptionValues] ON 

INSERT [dbo].[ProductOptionValues] ([Id], [ProductOptionId], [Text], [Price], [OriginalPrice], [ImageUrl], [SortOrder]) VALUES (1, 1, N'原味', NULL, NULL, N'/katachi-shop/img/Protein/normal.png', 1)
INSERT [dbo].[ProductOptionValues] ([Id], [ProductOptionId], [Text], [Price], [OriginalPrice], [ImageUrl], [SortOrder]) VALUES (2, 1, N'香草', NULL, NULL, N'/katachi-shop/img/Protein/Vanilla.png', 2)
INSERT [dbo].[ProductOptionValues] ([Id], [ProductOptionId], [Text], [Price], [OriginalPrice], [ImageUrl], [SortOrder]) VALUES (3, 1, N'巧克力', NULL, NULL, N'/katachi-shop/img/Protein/chocolate.png', 3)
SET IDENTITY_INSERT [dbo].[ProductOptionValues] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductCode], [CategoryId], [Name], [Subtitle], [Description], [Price], [OriginalPrice], [Rating], [ImageUrl], [IsActive], [Stock]) VALUES (1, N'whey-isolate', 1, N'分離乳清蛋白', N'高蛋白補給', N'每份提供蛋白質，適合訓練後補充。', 1680, 1950, CAST(4.9 AS Decimal(2, 1)), N'/katachi-shop/img/Protein/protein.jpg', 1, 89)
INSERT [dbo].[Products] ([Id], [ProductCode], [CategoryId], [Name], [Subtitle], [Description], [Price], [OriginalPrice], [Rating], [ImageUrl], [IsActive], [Stock]) VALUES (2, N'casein', 1, N'酪蛋白', N'夜間蛋白補給', N'緩慢釋放型蛋白，適合睡前或長時間未進食時補充。', 1580, 1820, CAST(4.8 AS Decimal(2, 1)), N'/katachi-shop/img/dark whey protein/dark whey protein.jpg', 1, 200)
INSERT [dbo].[Products] ([Id], [ProductCode], [CategoryId], [Name], [Subtitle], [Description], [Price], [OriginalPrice], [Rating], [ImageUrl], [IsActive], [Stock]) VALUES (3, N'pre-workout', 2, N'訓練前補給', N'提升訓練專注', N'適合訓練前使用，幫助提升精神、專注與訓練表現。', 1280, 1480, CAST(4.7 AS Decimal(2, 1)), N'/katachi-shop/img/Energy powder/Energy powder.jpg', 0, 29)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[training_items] ON 

INSERT [dbo].[training_items] ([item_id], [session_id], [ex_key], [weight_kg], [sets], [reps], [sort_order], [is_deleted]) VALUES (1, 1, N'bench-bar', CAST(60.0 AS Decimal(5, 1)), 3, 8, 0, 0)
INSERT [dbo].[training_items] ([item_id], [session_id], [ex_key], [weight_kg], [sets], [reps], [sort_order], [is_deleted]) VALUES (2, 1, N'ohp-bar', CAST(40.0 AS Decimal(5, 1)), 3, 10, 1, 0)
INSERT [dbo].[training_items] ([item_id], [session_id], [ex_key], [weight_kg], [sets], [reps], [sort_order], [is_deleted]) VALUES (3, 2, N'row-bar', CAST(60.0 AS Decimal(5, 1)), 4, 8, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[training_items] OFF
GO
SET IDENTITY_INSERT [dbo].[training_sessions] ON 

INSERT [dbo].[training_sessions] ([session_id], [user_id], [session_date]) VALUES (1, 3, CAST(N'2025-01-02' AS Date))
INSERT [dbo].[training_sessions] ([session_id], [user_id], [session_date]) VALUES (2, 3, CAST(N'2025-01-03' AS Date))
INSERT [dbo].[training_sessions] ([session_id], [user_id], [session_date]) VALUES (3, 3, CAST(N'2025-01-06' AS Date))
GO
SET IDENTITY_INSERT [dbo].[training_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[training_sets] ON 

INSERT [dbo].[training_sets] ([set_id], [item_id], [set_index], [is_done]) VALUES (1, 1, 1, 1)
INSERT [dbo].[training_sets] ([set_id], [item_id], [set_index], [is_done]) VALUES (2, 1, 2, 1)
INSERT [dbo].[training_sets] ([set_id], [item_id], [set_index], [is_done]) VALUES (3, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[training_sets] OFF
GO
SET IDENTITY_INSERT [dbo].[user_goals] ON 

INSERT [dbo].[user_goals] ([goal_id], [user_id], [group_key], [month], [monthly_target]) VALUES (1, 3, N'背', N'2026-04', 30)
INSERT [dbo].[user_goals] ([goal_id], [user_id], [group_key], [month], [monthly_target]) VALUES (2, 3, N'胸', N'2026-04', 30)
INSERT [dbo].[user_goals] ([goal_id], [user_id], [group_key], [month], [monthly_target]) VALUES (3, 3, N'核心', N'2026-04', 20)
SET IDENTITY_INSERT [dbo].[user_goals] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [name], [email], [password_hash], [username], [age], [height_cm], [weight_kg], [gender], [activity], [created_at], [profile_updated_at], [tdee], [PasswordResetToken], [PasswordResetExpiry]) VALUES (1, N'陳小明', N'user1@katachi.com', N'hashed_pw_1', N'mingming', 26, CAST(175.0 AS Decimal(5, 1)), CAST(72.5 AS Decimal(5, 1)), NULL, NULL, CAST(N'2025-01-01T09:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([user_id], [name], [email], [password_hash], [username], [age], [height_cm], [weight_kg], [gender], [activity], [created_at], [profile_updated_at], [tdee], [PasswordResetToken], [PasswordResetExpiry]) VALUES (2, N'林雅婷', N'user2@katachi.com', N'hashed_pw_2', N'yating', 23, CAST(162.5 AS Decimal(5, 1)), CAST(55.0 AS Decimal(5, 1)), NULL, NULL, CAST(N'2025-03-15T14:30:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** 物件:  Index [UQ_day_template]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[day_templates] ADD  CONSTRAINT [UQ_day_template] UNIQUE NONCLUSTERED 
(
	[total_days] ASC,
	[day_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** 物件:  Index [UQ__equipmen__72E12F1B85E68E2A]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[equipment] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** 物件:  Index [UQ_exercise_goal]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[exercise_goals] ADD  CONSTRAINT [UQ_exercise_goal] UNIQUE NONCLUSTERED 
(
	[ex_key] ASC,
	[goal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** 物件:  Index [uq_user_date]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[training_sessions] ADD  CONSTRAINT [uq_user_date] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[session_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** 物件:  Index [uq_item_set]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[training_sets] ADD  CONSTRAINT [uq_item_set] UNIQUE NONCLUSTERED 
(
	[item_id] ASC,
	[set_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** 物件:  Index [uq_user_group_month]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[user_goals] ADD  CONSTRAINT [uq_user_group_month] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[group_key] ASC,
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** 物件:  Index [UQ__users__AB6E61648AF5E532]    指令碼日期: 2026/5/22 下午 04:00:31 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[day_template_exercises] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[day_template_exercises] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[day_templates] ADD  DEFAULT ((6)) FOR [exercise_count]
GO
ALTER TABLE [dbo].[foods] ADD  DEFAULT (N'100g') FOR [unit]
GO
ALTER TABLE [dbo].[foods] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nutrition_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT (N'待處理') FOR [Status]
GO
ALTER TABLE [dbo].[ProductOptions] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductOptionValues] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[training_items] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[training_sets] ADD  DEFAULT ((0)) FOR [is_done]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[day_template_exercises]  WITH CHECK ADD  CONSTRAINT [FK_dte_exercise] FOREIGN KEY([ex_key])
REFERENCES [dbo].[exercises] ([ex_key])
GO
ALTER TABLE [dbo].[day_template_exercises] CHECK CONSTRAINT [FK_dte_exercise]
GO
ALTER TABLE [dbo].[day_template_exercises]  WITH CHECK ADD  CONSTRAINT [FK_dte_template] FOREIGN KEY([day_template_id])
REFERENCES [dbo].[day_templates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[day_template_exercises] CHECK CONSTRAINT [FK_dte_template]
GO
ALTER TABLE [dbo].[exercise_equipment]  WITH CHECK ADD  CONSTRAINT [fk_ee_equip] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[exercise_equipment] CHECK CONSTRAINT [fk_ee_equip]
GO
ALTER TABLE [dbo].[exercise_equipment]  WITH CHECK ADD  CONSTRAINT [fk_ee_ex] FOREIGN KEY([ex_key])
REFERENCES [dbo].[exercises] ([ex_key])
GO
ALTER TABLE [dbo].[exercise_equipment] CHECK CONSTRAINT [fk_ee_ex]
GO
ALTER TABLE [dbo].[exercise_goals]  WITH CHECK ADD  CONSTRAINT [FK_exercise_goals_exercise] FOREIGN KEY([ex_key])
REFERENCES [dbo].[exercises] ([ex_key])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[exercise_goals] CHECK CONSTRAINT [FK_exercise_goals_exercise]
GO
ALTER TABLE [dbo].[exercise_group_pct]  WITH CHECK ADD  CONSTRAINT [fk_egp_ex] FOREIGN KEY([ex_key])
REFERENCES [dbo].[exercises] ([ex_key])
GO
ALTER TABLE [dbo].[exercise_group_pct] CHECK CONSTRAINT [fk_egp_ex]
GO
ALTER TABLE [dbo].[exercise_group_pct]  WITH CHECK ADD  CONSTRAINT [fk_egp_group] FOREIGN KEY([group_key])
REFERENCES [dbo].[muscle_groups] ([group_key])
GO
ALTER TABLE [dbo].[exercise_group_pct] CHECK CONSTRAINT [fk_egp_group]
GO
ALTER TABLE [dbo].[muscles]  WITH CHECK ADD  CONSTRAINT [fk_muscles_group] FOREIGN KEY([group_key])
REFERENCES [dbo].[muscle_groups] ([group_key])
GO
ALTER TABLE [dbo].[muscles] CHECK CONSTRAINT [fk_muscles_group]
GO
ALTER TABLE [dbo].[nutrition_records]  WITH CHECK ADD  CONSTRAINT [FK_nutrition_food] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[nutrition_records] CHECK CONSTRAINT [FK_nutrition_food]
GO
ALTER TABLE [dbo].[nutrition_records]  WITH CHECK ADD  CONSTRAINT [FK_nutrition_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nutrition_records] CHECK CONSTRAINT [FK_nutrition_user]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductOptions] CHECK CONSTRAINT [FK_ProductOptions_Products]
GO
ALTER TABLE [dbo].[ProductOptionValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptionValues_ProductOptions] FOREIGN KEY([ProductOptionId])
REFERENCES [dbo].[ProductOptions] ([Id])
GO
ALTER TABLE [dbo].[ProductOptionValues] CHECK CONSTRAINT [FK_ProductOptionValues_ProductOptions]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[training_items]  WITH CHECK ADD  CONSTRAINT [fk_items_ex] FOREIGN KEY([ex_key])
REFERENCES [dbo].[exercises] ([ex_key])
GO
ALTER TABLE [dbo].[training_items] CHECK CONSTRAINT [fk_items_ex]
GO
ALTER TABLE [dbo].[training_items]  WITH CHECK ADD  CONSTRAINT [fk_items_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[training_sessions] ([session_id])
GO
ALTER TABLE [dbo].[training_items] CHECK CONSTRAINT [fk_items_session]
GO
ALTER TABLE [dbo].[training_sessions]  WITH CHECK ADD  CONSTRAINT [fk_sessions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[training_sessions] CHECK CONSTRAINT [fk_sessions_user]
GO
ALTER TABLE [dbo].[training_sets]  WITH CHECK ADD  CONSTRAINT [fk_sets_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[training_items] ([item_id])
GO
ALTER TABLE [dbo].[training_sets] CHECK CONSTRAINT [fk_sets_item]
GO
ALTER TABLE [dbo].[user_goals]  WITH CHECK ADD  CONSTRAINT [fk_goals_group] FOREIGN KEY([group_key])
REFERENCES [dbo].[muscle_groups] ([group_key])
GO
ALTER TABLE [dbo].[user_goals] CHECK CONSTRAINT [fk_goals_group]
GO
ALTER TABLE [dbo].[user_goals]  WITH CHECK ADD  CONSTRAINT [fk_goals_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_goals] CHECK CONSTRAINT [fk_goals_user]
GO
ALTER TABLE [dbo].[exercise_group_pct]  WITH CHECK ADD  CONSTRAINT [chk_pct] CHECK  (([pct]>=(1) AND [pct]<=(100)))
GO
ALTER TABLE [dbo].[exercise_group_pct] CHECK CONSTRAINT [chk_pct]
GO
ALTER TABLE [dbo].[user_goals]  WITH CHECK ADD  CONSTRAINT [chk_target] CHECK  (([monthly_target]>=(5)))
GO
ALTER TABLE [dbo].[user_goals] CHECK CONSTRAINT [chk_target]
GO
